extends ./index

block contenido
    .flex.justify-end.mb-4
        ul.flex.space-x-4
            li
                a(href="/inscripciones/creaInscripcion" class="text-green-600 hover:text-green-800") Agregar Inscripcion
            li
                a(href="/inscripciones/consultarInscripcion" class="text-green-600 hover:text-green-800") Consultar Inscripcion Por Materia

    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        table.table-auto.w-full.mt-4
            thead
                tr
                    th.text-left.text-black.border-white.uppercase.px-6.py-3 Estudiante
                    th.text-left.text-black.border-white.uppercase.px-6.py-3 Materia
                    th.text-left.text-black.border-white.uppercase.px-6.py-3 Notas
            tbody
                each inscripcion in inscripciones
                           
                            tr
                                td.px-6.py-4.text-green-600= inscripcion.estudiante.nombre
                                td.px-6.py-4.text-green-600= inscripcion.materia.nombre
                                td.px-6.py-4.text-green-600= inscripcion.nota
                                td.px-6.py-4
                                    a.text-blue-500(href=`/inscripciones/modificaInscripcion/${inscripcion.id}`) Editar
                                    a.text-red-500.ml-2(href="#", onclick=`eliminarEstudiante('${inscripcion.id}')`) Eliminar
                else
                    tr
                        td.px-7.py-4.text-4x1.text-center.uppercase.font-extrabold(colspan="5") No se encontró ningúna Inscripción

block scripts
    script.
        function eliminarEstudiante(id) {
            if (confirm('¿Estás seguro de que deseas eliminar este estudiante?')) {
                fetch(`/inscripciones/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.mensaje === 'Inscripcion eliminada') {
                        alert('Inscripción eliminada con éxito.');
                        window.location.reload();
                    } else {
                        alert(data.mensaje);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al eliminar el estudiante.');
                });
            }
        }
